.btn {
  width: 32px;
  height: 32px;
  font-size: large;
  background-color: #e0e0e0;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #d0d0d0;
  }
}

form {
  width: 100%;
  display: grid;
  gap: 8px;
  grid-template-columns: 80px 1fr auto;
  grid-template-rows: 1fr 1fr;

  label {
    grid-column: 1 / 2;
    text-align: left;
    font-weight: bold;
    line-height: 24px;
  }

  select,
  input {
    grid-column: 2 / 3;
    background-color: #f9f9f9;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .btn {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    height: 56px;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-height: 320px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    cursor: pointer;

    &:hover {
      background-color: #999;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  li {
    display: grid;
    gap: 8px;
    grid-template-columns: 32px 1fr 80px auto;
    text-align: left;

    &:nth-child(2n) {
      background-color: #f0f0f0;
    }

    &:hover {
      background-color: #e0e0e0;
    }

    .img {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 16px;
        height: 16px;
      }
    }

    span {
      align-self: center;
    }

    .link {
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .btn {
      justify-self: flex-end;
      visibility: hidden;
    }

    &:hover .btn {
      visibility: visible;
    }
  }
}