aside {
  display: flex;
  flex-direction: column;
  min-width: 344px;
  max-width: 344px;
  height: 100vh;
  color: #000000;
  background-color: #f0f0f0;
  word-wrap: normal;
}

main {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 344px);
  border-left: 1px solid #ccc;
  height: 100vh;

  .NoSelectedFeed {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
  }
}